<%- include('../main', {
  pageStyles: '/styles/index.css',
  pageScript: '/scripts/index.js',
  content: `
    <div id="mineSpeed" class="grid-mineSpeed">
      0 blocks/sec.
    </div>
    <div id="auraContainer" class="grid-item-content">
      <div id="clickImageContainer">
        <img id="clickImage" src="cube.png" alt="Mine!">
      </div>
    </div>
    `
}) %>