<%- include('../main', {
  pageStyles: '/styles/index.css',
  pageScript: '/scripts/index.js',
  content: `
    <div id="counter">
      Blocks: 0.000
      <div id="mineSpeed">
        0 blocks/sec.
      </div>
      <div class="error-message" id="formErrorMessage"></div>
    </div>
    <div id="auraContainer">
      <div id="clickImageContainer">
        <img id="clickImage" src="cube.png" alt="Mine!">
      </div>
    </div>
    `
}) %>