<%- include('../main', {
  pageStyles: '/styles/leaderboard.css',
  pageScript: '/scripts/leaderboard.js',
  content: `
    <div id="spinner" class="spinner"></div>
    <div id="leaderboardContainer"></div>
    `
}) %>