#auraContainer{
  display: flex;
  background-image: url("../cube-areo.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  align-self: center;
  justify-self: center;
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
  box-sizing: border-box;
  z-index: 0;
}
.grid-item-content {
  grid-area: content;
  justify-self: center;
  align-self: stretch;
  grid-row: 4;
}
.grid-mineSpeed {
  grid-area: mineSpeed;
  justify-self: center;
  align-self: center;
  grid-row: 2;
}
#clickImageContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
#clickImage {
  width: 19vh;
  cursor: pointer;
  position: relative;
  z-index: 2;
  transition: transform 0.1s ease-in-out;
}
#clickImage:active {
  transform: scale(0.95);
}
#clickImageContainer::before {
  content: '';
  position: absolute;
  width: 50vh;
  height: 50vh;
  z-index: 1;
}
#mineSpeed {
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 1.3em;
  font-weight: 300;
}
.plusOne {
  position: absolute;
  font-size: 1.3em;
  font-weight: 600;
  color: white;
  animation: floatUp 1s ease-out forwards;
  z-index: 2;
}
@keyframes floatUp {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-140px);
  }
}