html {
  background-color: #000;
}
body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
}
a {
  color: #92badd;
  display:inline-block;
  text-decoration: none;
  font-weight: 400;
}
h2 {
  text-align: center;
  font-size: 2.5vh;
  font-weight: 600;
  text-transform: uppercase;
  display:inline-block;
  margin: 2vh 1vh 2vh 1vh; /*top right bottom left*/
  color: #cccccc;
  cursor: pointer;
}
.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
}
#formContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #73c7fb;
  width: 90%;
  max-width: 600px;
  height: auto;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;
  font-size: 2vh;
}
.tabs {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}
#formFooter {
  margin-top: auto;
  width: 100%;
  background-color: rgba(0, 2, 15, 0.7);
  border-top: 1px solid #dce8f1;
  padding: 25px;
  text-align: center;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}
/* TABS */
h2.inactive {
  color: #606060;
}
h2.active {
  color: #000;
  border-bottom: 2px solid rgba(1, 12, 87, 1);
}
input[type=text], input[type=password] {
  background-color: #bbe2fa;
  border: none;
  color: #404040;
  padding: 1.3vh 0.5vh;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2.5vh;
  margin: 1vh;
  width: 100%;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}
input[type=text]:focus, input[type=password]:focus {
  background-color: #dbf1fe;
  border-bottom: 2px solid #5fbae9;
}
input[type=text]::placeholder, input[type=password]::placeholder {
  color: #808080;
}
/* ANIMATIONS */
/* Simple CSS3 Fade-in-down Animation */
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 0.9s;
  animation-duration: 0.9s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
.fadeIn {
  opacity:0;
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:0.1s;
  -moz-animation-duration:0.1s;
  animation-duration:0.1s;
}
.fadeIn.first {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.fadeIn.second {
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  animation-delay: 0s;
}
.fadeIn.third {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s;
}
.fadeIn.fourth {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}
/* Simple CSS3 Fade-in Animation */
.underlineHover:after {
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: rgba(1, 12, 87, 0.5);
  content: "";
  transition: width 0.2s;
}
.underlineHover:hover {
  color: #fff;
  border-bottom: 2px solid rgba(1, 12, 87, 0.7);
}
.underlineHover:hover:after{
  width: 100%;
}
/* OTHERS */
*:focus {
    outline: none;
}
#icon {
  width: 4vh;
  height: 4vh;
}
* {
  box-sizing: border-box;
}
.hidden {
  display: none !important;
}
.visible {
  margin-bottom: 5px;
  padding-bottom: 15px;
  display: block;
}
.error {
  color: red;
  font-weight: 600;
  font-size: 1.3em;
}
.error-message {
  display: none;
  color: red;
  font-weight: 600;
  font-size: 1.3em;
}
.inputContainer {
  flex-direction: column;
}
.submit-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(1, 12, 87, 0.9);
  border: none;
  color: white;
  padding: 15px 80px;
  margin: 1vh auto 2vh; /* top left/right bottom */
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 2.5vh;
  box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.submit-button:active {
  transform: scale(0.95);
}
.submit-button:hover {
  background-color: rgba(16, 25, 87, 0.7);
}
.innerbox {
    position: absolute;
    top: 33%;
    left: 75%;
    width: 2vh;
    height: 2vh;
    border-radius: 50%;
    border: 0.5vh solid #fff;
    border-top-color: rgba(1, 12, 87, 0.9);
    animation: loader-spin 1.8s linear infinite;
}
.innerbox::before {
    content: "";
    position: absolute;
    top: 12px;
    left: 12px;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-size: 100%;
    animation: loader-animation 3s infinite ease-in-out;
}
.submit-button .innerbox {
  margin-left: 10px;
}
.spinner-hidden {
  display: none;
}
@keyframes loader-animation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes loader-spin {
    to {
        transform: rotate(360deg);
    }
}
@media (max-width: 600px) {
  .innerbox {
    top: 33%;
    left: 70%;
  }
}
@media (max-width: 450px) {
  #formContent {
    width: 100%;
  }
  .form-group {
    width: 90%;
  }
}