body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  color: #bbe2fa;
  background-color: black;
  font-family: "Play", sans-serif;
  position: relative;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
#mainContainer {
  box-sizing: border-box;
  background-image: url("../backgroun.png");
  background-size: cover;
  background-position: center;
  border-radius: 15px;
}
.grid {
  display: grid;
  height: 100vh;
  max-height: 800px;
  width: 100%;
  max-width: 600px;
  row-gap: 5px;
  grid-template-rows: auto auto auto 1fr;
  grid-template-areas:
    "counter"
    "mineSpeed"
    "error"
    "content"
    "menu";
  align-items: center;
}
.grid-item-counter {
  grid-area: counter;
  justify-self: center;
  align-self: start;
  grid-row: 1;
}
.grid-item-error {
  grid-area: error;
  justify-self: center;
  align-self: start;
  grid-row: 3;
}
#counter {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 5px;
}
#counter span {
  margin-left: 1vh;
}
.error {
  color: red;
  justify-content: center;
  align-content: center;
}
.error-message {
  display: none;
  color: red;
  align-content: center;
  text-align: center;
  font-size: 1.2em;
}
#menu {
  width: 80%;
  height: 70px;
  display: flex;
  border-spacing: 1vh 0;
  table-layout: fixed;
  justify-content: space-around;
  align-items: center;
  font-size: 0.9em;
  background-color: rgba(0, 2, 15, 0.7);
  border-top: 1px solid #3ba3e3;
  padding: 5px 0;
  margin-top: 5px;
  border-radius: 15px 15px 0 0;
}
.grid-item-menu {
  grid-area: menu;
  justify-self: center;
  align-self: end;
  grid-row: 5;
}
.menu-item {
  display: table-cell;
  text-align: center;
  margin: 0 5px 0 5px;
  flex: 1;
}
.menu-item img {
width: 30px;
height: 30px;
transition: transform 0.1s ease-in-out, filter 0.1s ease-in-out;
}
.menu-item-text {
    margin-top: 5px;
}
.menu-item button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(1, 12, 87, 0.7);
  border: none;
  border-radius: 15px;
  padding: 10px;
  color: #bbe2fa;
  width: 100%;
  min-width: 60px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.1s;
}
.menu-item button:hover {
  background-color: rgba(16, 25, 87, 0.7);
}
.menu-item button:active {
  background-color: rgba(52, 59, 105, 0.7);
  transform: scale(0.95);
}
.menu-item button:focus {
  outline: none;
}

/* MEDIA WIDTH */
@media (max-width: 600px) {
  body {
    width: 100%;
    position: fixed;
  }
  #menu {
    width: 100%;
    flex-direction: row;
  }
  .menu-item {
    max-width: none;
    margin: 0 1px;
  }
  .menu-item button {
    font-size: 1em;
  }
}
/* MEDIA HEIGHT */
@media (max-height: 800px){
  #mainContainer {
    height: 100%;
  }
}