body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  color: #bbe2fa;
  background-color: black;
  font-family: "Play", sans-serif;
  position: relative;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
#mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 35%;
  height: 85%;
  background-image: url("../backgroun.png");
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
#menu {
  position: absolute;
  bottom: 0;
  width: 80%;
  max-height: 11vh;
  display: table;
  border-spacing: 1vh 0;
  table-layout: fixed;
  justify-content: space-around;
  background-color: rgba(0, 2, 15, 0.7);
  border-top: 1px solid #3ba3e3;
  padding: 5px 0;
  border-radius: 15px 15px 0 0;
}
.menu-item {
  display: table-cell;
  text-align: center;
  margin: 0 1vh 0 1vh;
  flex: 1;
}
.menu-item img {
width: 30px;
height: 30px;
transition: transform 0.1s ease-in-out, filter 0.1s ease-in-out;
}
.menu-item-text {
    margin-top: 5px;
}
.menu-item button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(1, 12, 87, 0.7);
  border: none;
  border-radius: 15px;
  padding: 10px;
  color: #bbe2fa;
  width: 100%;
  min-width: 60px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.1s;
}
.menu-item button:hover {
  background-color: rgba(16, 25, 87, 0.7);
}
.menu-item button:active {
  background-color: rgba(52, 59, 105, 0.7);
  transform: scale(0.95);
}
.menu-item button:focus {
  outline: none;
}

/* MEDIA WIDTH */
@media (max-width: 1600px){
  #mainContainer {
    width: 45%;
  }
}
@media (max-width: 1200px){
  #mainContainer {
    width: 70%;
  }
}
@media (max-width: 950px){
  #mainContainer {
    width: 90%;
  }
}
@media (max-width: 800px){
  #mainContainer {
    width: 100%;
  }
}
@media (max-width: 600px){
  body {
    width: 100%;
    position: fixed;
  }
  #menu {
    width: 100%;
  }
}
/* MEDIA HEIGHT */
@media (max-height: 800px){
  #mainContainer {
    height: 100%;
  }
}